body {
    box-sizing: border-box;
    margin: 0;

    background-image: url(images/texture_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: OpeningHours;
    src: url(OpeningHoursSansRegular.otf);
}

@font-face {
    font-family: Berolina;
    src: url(Berolina.ttf);
}

.container {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.leftpanel {
    height: 100%;
    width: 400px;

    display: flex;
    flex-direction: column;
}

.toppanel {
    display: none;
}

.logo {
    height: 30%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.nav {
    background-image: url(images/nav_frame_fill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 20px;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 220px;
}

.link {
    text-decoration: none;
}

.button {
    font-family: Berolina;
    color: black;
    font-size: 1.75em;

    background:#cbd3cc;
    border: 1.5px solid black;
    height: 50px;
    width: 10vw;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    font-family: Berolina;
    color:black;
    font-size: 1.75em;
    animation: bounce 1s infinite linear alternate;
}

.button2:hover {
    color:#cbd3cc;
}

.bold {
    font-weight: bold;
}

.button:hover {
    background:#77907b;
    border: 1.5px solid #cbd3cc;
    color: #cbd3cc;
    cursor: pointer;
}

.button:active {
    background:#cbd3cc;
    border: 1.5px solid #77907b;
    color: #77907b;
}

.rightpanel {
    height: auto;
    width: calc(100% - 400px);
    overflow-y: scroll;

    display: flex;
    flex-direction: row;
}

.shoppanel {
    height: 100%;
    width: calc(100% - 400px);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.bioframe {
    height: 100%;
    width: calc(100% - 400px);
    overflow-y: scroll;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(images/bio_frame_fill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.biotext {
    width: 35vw;
    text-align: center;
    display: block;
}

.mobilebio {
    display: none;
}

.blogpanel {
    height: 100%;
    width: calc(100% - 400px);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    background-image: url(.//images/entry_frame_fill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.blogtext {
    position: absolute;
    top: 10vw;
    left: 11vw;
    margin-right: 11vw;
}

.blogimage {
    width: 10vw;
}

.entry {
    object-fit: contain;
    padding: 40px;
    position: relative;
}

.header {
    font-family: Berolina;
    font-size: 2.5vw;
    line-height: 0;
}

.paragraph {
    font-family: OpeningHours;
    font-size: 1vw;
}

.credits {
    color:#77907b;
    font-style: italic;
}

a.credits:link {
    color:#77907b;
    text-decoration: none;
}

a.credits:visited {
    color:#77907b;
}

a.credits:hover {
    color:#77907bb2;
}

a.credits:active {
    color:#77907b;
}

.column {
    height:auto;
    width: 50%;
    padding: 40px;
}

.galleryitem {
    object-fit: contain;
}

.frame {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.caption {
    font-family: Berolina;
    font-size: 1.35vw;
    color:#cbd3cc;
    text-align: center;
}

.title {
    font-size: 1.75vw;
    font-style: italic;
    padding-bottom: 5px;
}

.galleryitem:hover {
    transform: rotate(2deg);
}

.forsale {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.imagesale {
    width: 80%;
    padding: 2vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    background-image: url(images/sale_tag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 20%;
    padding: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.price:hover {
    transform: rotate(-2deg);
}

.pricetext {
    margin-top: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

a.pricetext:link {
    color:#cbd3cc;
    text-decoration: wavy underline;
}

a.pricetext:visited {
    color:#cbd3cc;
}

a.pricetext:hover {
    color:#cbd3ccb2;
}

a.pricetext:active {
    color:#cbd3cc;
}

.interested {
    margin-top: 2.5vw;
}

@keyframes bounce {
    0%{
        transform: translatey(5px);
    }
    100%{
        transform: translatey(-5px);
    }
}

@media screen and (max-width:1200px) {

body {
    box-sizing: border-box;
}

.container {
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
}

.leftpanel {
    display: none;
}

.toppanel {
    display:flex;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.toplogo {
    width: 35%;
    object-fit: contain;
}

.topbuttons {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rightpanel {
    width: 100%;
    height: calc(100%-750px);
    overflow-y: visible;
}

.title {
    font-size: 2vw;
}

.caption {
    font-size: 2vw;
}

.bioframe {
    display: none;
}

.mobilebio {
    display: block;
    font-family: Berolina;
    font-size:2em;
    color:#000000;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.credits {
    color: #cbd3cc;
}

a.credits:link {
    color:#cbd3cc;
    text-decoration: none;
}

a.credits:visited {
    color:#cbd3cc;
}

a.credits:hover {
    color:#cbd3cc;
}

a.credits:active {
    color:#cbd3cc;
}

.shoppanel {
    width: 100%;
}

}

@media screen and (max-width:600px) { 

.rightpanel {
    flex-direction: column;
    overflow-y:visible;
}

.column {
    width: 100%;
    padding: 0;
    overflow-y:visible;
}

.title {
    font-size: 5vw;
}

.caption {
    font-size: 5vw;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.toplogo {
    width: 30%;
    padding-left: 10px;
}

.topbuttons {
    padding-right: 20px;
}

.toppanel {
    padding-bottom: 10px;
}

.forsale {
    flex-direction: column;
}

.imagesale {
    width: 100%;
}

.price {
    width: 100%;
    background-image: none;
    padding: 0;
}

.pricetext {
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
}

.shoppanel {
    overflow-y:visible;
}

}